@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
}
li:hover{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
p {
    color: #555;
    font-weight: bold;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}